<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%block title %}MY Website{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <img src="{% static 'image/logo.png' %}" class="logo">
        </head>
        <body>

            <div class="content">
                {% block content %}
                {% endblock %}
                </div>

                <footer>
                    <p>&copy;
                        </div>
                        </footer>

                        </body>
                        </html>